<div class="card" style="width: 18rem;">
    <img src="{{@imageURL}}" class="card-img-top" alt="Event">
    <div class="card-body">
        <h5 class="card-title">{{@category}}</h5>
        <p class="card-text">{{@name}}</p>
        <LinkTo @route="event" @model={{@eventId}} class="btn btn-primary stretched-link">Details</LinkTo>
    </div>
</div>